.banner1 {
  background-image: url('./images/banner1.svg');
  width: 100%;
  height: 85vh;

}

.banner2,
.banner3,
.banner4,
.banner5,
.banner6 {
  display: none;
}

.banner2 {
  background: rgb(254, 227, 128);
  background: linear-gradient(rgba(254, 227, 128, 1) 0%, rgba(239, 198, 75, 1) 100%);
  width: 100%;
  height: 85vh;

}

.banner3 {
  background: rgb(110, 207, 250);
  background: linear-gradient(rgba(110, 207, 250, 1) 16%, rgba(193, 233, 250, 1) 100%);
  width: 100%;
  /* height: 50%; */
  height: 85vh;


}

.banner4 {
  background: rgb(237, 208, 200);
  background: linear-gradient(90deg, rgba(237, 208, 200, 1) 0%, rgba(252, 238, 231, 1) 100%);
  width: 100%;
  height: 85vh;
  /* height: 100%; */
  position: relative;

}

.banner5 {
  background: rgb(255, 209, 179);
  background: radial-gradient(circle, rgba(255, 209, 179, 1) 0%, rgba(255, 179, 191, 1) 100%);
  width: 100%;
  height: 85vh;

}

.banner6 {
  background-image: url('./images/banner6.svg');
  width: 100%;
  /* height: 100%; */
  height: 85vh;

}



.all-banners {
  position: relative;
  height: 100%;
  width: 100%;
}

.banner11 {
  display: flex;
}

.banner2 {}

.left-banner {
  width: 40%;
}

.right-banner {
  width: 60%;

}

.banner1 hr {
  height: 500px;
  margin-top: 60px;
  width: 3px;
  border: none;
  color: white;
  background: #fff;
}

.banner2-hr {
  margin-left: 20px;
  height: 500px;
  margin-top: 60px;
  width: 3px;
  border: none;
  color: white;
  background: #fff;
}

.banner2-hr {
  margin-left: 20px;
}

.product-choice {
  height: 120px;
  margin-left: 50px;
  /* padding-top: 30px; */
  position: absolute;
  z-index: 100;
  display: flex;
  align-items: center;
  gap: 30px;
}

.product-choice img {
  /* position: sticky; */
  width: 55px;
  height: 55px;
  /* padding: 10px; */
  background: #fff;
  border-radius: 50%;
  /* margin: 05px; */
  cursor: pointer;
  transition: all ease 0.3s;
}

.product-choice img.active {
  width: 55px;
  height: 90px;
  padding: 0;
  background: none;
}

.product-choice img:nth-child(2).active {
  width: 60px;
  height: 90px;
  padding: 0;
  background: none;
}

.product-choice img:nth-child(6).active {
  width: 65px;
  height: 90px;
  padding: 0;
  background: none;
}

.product-choice img:nth-child(3).active {
  width: 60px;
  height: 100px;
  padding: 0;
  background: none;
}


*/ .left-banner {}

.product1-name img {
  /* width: 400px; */
  width: 75%;
  margin-top: 200px;
  margin-left: 60px;
}

.product2-name img {
  margin-top: 220px;
  margin-left: 40px;
  /* width: 500px; */
  width: 75%;


}

.product3-name img {
  margin-top: 220px;
  margin-left: 40px;
  width: 75%;

  /* width: 520px; */
}

.product4-name img {
  margin-top: 180px;
  margin-left: 170px;
  /* width: 220px; */
  width: 30%;

}

.product5-name img {
  margin-top: 220px;
  margin-left: 50px;
  /* width: 470px; */
  width: 75%;

}

.product6-name img {
  margin-top: 200px;
  margin-left: 50px;
  width: 470px;
  width: 75%;

}

.banner3 button {
  padding-top: 50px;
}

.left-banner button {
  position: absolute;
  bottom: 50px;
  /* left: 7%; */
  width: 280px;
  font-family: DM Mono;
  font-size: 30px;
  font-weight: 300;
  /* letter-spacing: 0em; */
  text-align: center;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8%;
  border-radius: 30px;
  outline: none;
  color: #B61556;
  border: 2px solid #B61556;
  background: transparent;
}

.left-banner .banner-btn6 {
  border: 2px solid #1C631D;
  color: #1C631D;
}

.left-banner .banner-btn4 {
  border: 2px solid #392425;
  color: #392425;
}

.left-banner .banner-btn3 {
  border: 2px solid #003146;
  color: #003146;
}

.left-banner .banner-btn2 {
  border: 2px solid #561506;
  color: #561506;
}

.right-banner1, .right-banner2, .right-banner3, .right-banner4, .right-banner5, .right-banner6 {
  width: 60%;
  /* position: relative; */
}

.right-banner1 img {
  /* width: 710px; */
  width: 650px;
  /* margin-top: 0px;
  margin-left: 200px; */
  position: absolute;
  right: 0;
  bottom: 0;
  /* transition: all ease-out 0.3s; */
}

.right-banner2 img {
  /* width: 1110px; */
  width: 600px;
  /* margin-top: 0px;
  margin-left: -200px; */
  /* margin-top: 15px; */
  /* margin-left: -10px; */
  position: absolute;
  right: 0;
  bottom: 0;
  padding-top: 15px;

  /* transition: all ease-out 0.3s; */

}

.right-banner2 {
  /* padding-top: 15px; */
}

.right-banner3 img {
  /* width: 1110px; */
  /* width: 72%; */
  width: 1100px;
  /* margin-top: -30px;
  margin-left: -200px; */
  position: absolute;
  right: 0;
  bottom: 0;
  /* transition: all ease-out 0.3s; */

}

.right-banner4 img {
  /* margin-top: 2px; */
  /* width: 820px; */
  /* width: 45.5%; */
  width: 685px;
  /* margin-left: 90px; */
  position: absolute;
  right: 0;
  bottom: 0;
  /* transition: all ease-out 0.3s; */

}

.right-banner5 img {
  /* margin-top: 200px; */
  /* width: 1130px; */
  /* width: 37%; */
  width: 570px;
  /* margin-top: px;
  margin-left: -220px; */
  position: absolute;
  right: 0;
  bottom: 0;
  /* transition: all ease-out 0.3s; */

}

.right-banner6 img {
  /* width: 1115px; */
  /* width: 41%; */
  width: 632px;
  /* margin-top: px;
  margin-left: -220px; */
  position: absolute;
  right: 0;
  bottom: 0;
  transition: all ease-out 0.3s;

}

@media (max-width: 1300px) {
  .banner1, .banner2, .banner3, .banner4, .banner5, .banner6 {
    height: 85vh;
  }

  .right-banner2 img {
    width: 47.5%;
  }

  .right-banner5 img {
    width: 45%;
  }

  /* .banner2{
    height: 70vh;
  } */
  .left-banner button {
    /* bottom: 15px; */
  }

  .left-banner img {
    /* margin-top: 0px; */
    margin-bottom: 30px;
    margin-left: 100px;
  }

  .banner2-hr {
    margin-left: 250px;
    height: 450px;
    margin-top: 22px;
  }

  .product4-name img {
    margin-top: 120px;
    margin-left: 100px;
    /* width: 220px; */
    width: 60%;

  }
}

@media (max-width: 1000px) {
  .banner1, .banner2, .banner3, .banner4, .banner5, .banner6 {
    height: 87vh;
  }

  .left-banner button {
    bottom: 25px;
    font-size: 100%;
    padding: 5px 0px;
    margin-left: 85px;
    height: 50px;
    width: 20%;
  }

  .left-banner img {
    /* margin-top: 0px; */
    width: 350px;
    margin-top: 150px;
    margin-left: 82px;
  }

  .product4-name img {
    margin-top: 120px;
    margin-left: 100px;
    /* width: 220px; */
    width: 60%;

  }

  .right-banner1 img {
    width: 60.5%;
  }

  .right-banner2 img {
    width: 60.5%;
  }

  .right-banner3 img {
    width: 100%;
  }

  .right-banner4 img {
    width: 65.5%;
  }

  .right-banner5 img {
    width: 58%;
  }

  .right-banner6 img {
    width: 60%;
  }

  .left-banner button {
    /* bottom: 25px; */
    position: relative;
    font-size: 100%;
    padding: 5px 0px;
    margin-left: 35px;
    position: absolute;
    bottom: 150px;
    left: 80px;
    width: 150px;
    height: 50px;
  }


  .banner2-hr {
    display: none;
  }
}

@media (max-width: 550px) {
  .product-choice {
    height: 50px;
    margin: 25px;
    /* margin-left: 15px; */
    padding-top: -25px;
    display: flex;
    padding: 10px;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 15px;
  }

  .product-choice img {
    width: 45px;
    height: 45px;
  }

  .right-banner2 img, .right-banner3 img, .right-banner5 img, .right-banner6 img {
    width: 100%;
  }

  .right-banner1 img {
    width: 60%;
  }

  .right-banner2 img {
    width: 75%;
  }

  .right-banner4 img {
    width: 75%;
  }

  .right-banner5 img {
    width: 70%;
  }

  .right-banner6 img {
    width: 70%;
  }




  .left-banner img {
    /* margin-top: 0px; */
    width: 120%;
    margin-top: 180px;
    margin-left: 15px;
  }

  .product4-name img {
    margin-top: 120px;
    margin-left: 30px;
    /* width: 220px; */
    width: 70%;

  }

  .left-banner button {
    /* bottom: 25px; */
    position: relative;
    font-size: 100%;
    padding: 5px 0px;
    margin-left: 35px;
    position: relative;
    margin-top: 200px;
    margin-left: -50px;
    width: 150px;
    height: 50px;
  }

}

@media (max-width: 450px) {
  .banner1, .banner2, .banner3, .banner4, .banner5, .banner6 {
    height: 88.5vh;
  }

  .left-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
  }

  .product-choice {
    height: 50px;
    margin: 25px;

    padding-top: -25px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 15px;
  }

  .product-choice img {
    width: 40px;
    height: 40px;
  }



  .product-choice img.active {
    width: 40px;
    height: 40px;
    padding: 0;
    background: none;
  }

  .left-banner img {
    /* margin-top: 0px; */
    width: 120%;
    margin-top: 120px;
    margin-left: 12px;
  }

  .left-banner button {
    /* bottom: 25px; */
    position: relative;
    font-size: 100%;
    padding: 5px 0px;
    margin-left: -225px;
    margin-top: 135px;
    width: 150px;
    height: 50px;
  }

  .right-banner2 img, .right-banner3 img, .right-banner5 img, .right-banner6 img {
    width: 150%;
  }

  .right-banner1 img {
    width: 85%;
  }

  .right-banner2 img {
    width: 90%;
  }

  .right-banner4 img {
    width: 100%;
  }

  .right-banner5 img {
    width: 80%;
  }

  .right-banner6 img {
    width: 90%;
  }

  .product4-name img {
    margin-top: 120px;
    margin-left: 30px;
    /* width: 220px; */
    width: 60%;

  }
}

@media (max-width: 400px) {
  .product-choice {
    height: 50px;
    margin: 25px;
    margin-left: 5px;
    padding-top: -25px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 15px;
  }

  .product-choice img {
    width: 35px;
    height: 35px;
    padding: 05px;
  }

  .product-choice img:hover, .product-choice img.active {
    width: 35px;
    height: 35px;
    padding: 0;
    background: none;
  }

  .product-choice img:hover:nth-child(2) {
    /* width: 65px; */
    height: 80px;

  }
}

@media (max-width: 380px) {
  .product-choice {
    display: flex;
    gap: 10px;
  }

  .left-banner button {
    /* margin-left: 0px; */
  }
}




.left-banner img {
  transform: translateX(-100%);
  animation: moveFromLeft 0.5s ease-in-out forwards;
}

@keyframes moveFromLeft {
  0% {
    transform: translateY(200%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes rotateImage {
  0% {
    transform: rotate(0deg);
    transform-origin: right bottom;
    /* Set the rotation point */
    opacity: 0;
  }


  100% {
    transform: rotate(90deg);
    transform-origin: right bottom;
    /* Set the rotation point */
    opacity: 1;
  }
}






.rotate {}

.all-banners {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* Hide the overflow to prevent scrollbar from showing */
}

/* @keyframes rotateImage {
  0% {
    transform: rotate(0deg);
    transform-origin: right bottom;
    opacity: 0.2;
  }

  100% {
    transform: rotate(90deg);
    transform-origin: right bottom;
    opacity: 1;
  }
}

.rotate {
  animation: rotateImage 0.8s ease-out;
  animation-timing-function: linear;
} */


/* @keyframes rotateImage {
  0% {
    transform: rotate(0deg);
    transform-origin: right bottom;
    opacity: 0.2;
  }

  100% {
    transform: rotate(360deg);
    transform-origin: right bottom;
    opacity: 1;
  }
}

.rotate {
  animation: rotateImage 0.8s ease-out;
  animation-timing-function: linear;
} */


@keyframes rotateImage {
  0% {
    transform: rotate(0deg);
    transform-origin: right bottom;
    opacity: 0.2;
  }

  50% {
    transform: rotate(180deg);
    transform-origin: right bottom;
    opacity: 0.5;
  }

  100% {
    transform: rotate(360deg);
    transform-origin: right bottom;
    opacity: 1;
  }
}

.rotate {
  animation: rotateImage 1s ease-out;
  animation-timing-function: linear;
}



/* //navbar */








/* navbar */


/* navbar */
/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 2.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --black-color: hsl(0, 0%, 100%);
  --black-color-light: hsl(0, 0%, 100%);
  --black-color-lighten: hsl(0, 0%, 100%);
  --white-color: #000000;
  --body-color: hsl(220, 100%, 97%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: .938rem;

  --font-regular: 400;
  --font-semi-bold: 600;


  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */


/* body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
} */

.header1 ul {
  list-style: none;
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

a {
  text-decoration: none;
  font-size: 17px;
}

.nav__link {
  font-size: 17px;

}

/*=============== REUSABLE CSS CLASSES ===============*/
.container1 {
  max-width: 95%;
  margin-inline: .5rem;
}

/*=============== HEADER ===============*/
.header1 {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--black-color);
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
  /* z-index: var(--z-fixed); */
  z-index: 50000;
}

.hf-logo {
  margin-top: 30px;
  width: 150px;
}

/*=============== NAV ===============*/
.nav1 {
  height: var(--header-height);
  /* display: flex; */

  /* justify-content: space-between; */
}

.nav__logo,
.nav__burger,
.nav__close {
  color: var(--white-color);
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  font-weight: var(--font-semi-bold);
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

.nav__logo i {
  font-weight: initial;
  font-size: 1.25rem;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__burger,
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity .1s, transform .4s;
}

.nav__close {
  opacity: 0;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
  .nav1 {
    height: 70px;
  }

  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    /* display: flex; */
    opacity: 0;
    transition: top .4s, opacity .3s;
  }

  .nav__menu::-webkit-scrollbar {
    width: 0;
  }

  .nav__list {
    background-color: var(--black-color);
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }

  .nav__list li:nth-child(5), .nav__list li:nth-child(6), .nav__list li:nth-child(2) {
    margin-top: -15px;
  }
}

.nav__link {
  color: var(--white-color);
  background-color: var(--black-color);
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color .3s;
}

.nav__link:hover {
  background-color: var(--black-color-light);
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}

.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__item {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform .4s;
}

.dropdown__link,
.dropdown__sublink {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: var(--white-color);
  background-color: var(--black-color-light);
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-weight: var(--font-semi-bold);
  transition: background-color .3s;
}

.dropdown__link i,
.dropdown__sublink i {
  font-size: 1.25rem;
  font-weight: initial;
}

.dropdown__link:hover,
.dropdown__sublink:hover {
  background-color: var(--black-color);
}

.dropdown__menu {
  margin-top: -16px;
  /* margin-bottom: -5px; */
  max-height: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: max-height .4s ease-out;
}

.dropdown__menu li a {
  margin-top: -10px;
  margin-bottom: -10px;
}

/* Show dropdown menu & submenu */
.dropdown__item:hover .dropdown__menu,
.dropdown__subitem:hover>.dropdown__submenu {
  max-height: 1000px;
  transition: max-height .4s ease-in;
}

/* Rotate dropdown icon */
.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg);
}

/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add {
  margin-left: auto;
}

.dropdown__sublink {
  background-color: var(--black-color-lighten);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container1 {
    margin-inline: 1rem;
  }

  .nav__link {
    padding-inline: 1rem;
  }
}

/* For large devices */
@media screen and (min-width: 1118px) {
  .container1 {
    margin-inline: auto;
  }

  .nav1 {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }

  .nav__toggle {
    display: none;
  }

  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }

  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: .25rem;
  }

  .nav__link:hover {
    background-color: transparent;
  }

  .dropdown__item ul li a:hover {
    background: gray;
  }

  .dropdown__item,
  .dropdown__subitem {
    position: relative;
  }

  .dropdown__menu,
  .dropdown__submenu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 6rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s, top .3s;
  }

  .dropdown__link,
  .dropdown__sublink {
    padding-inline: 1rem 3.5rem;
  }

  .dropdown__subitem .dropdown__link {
    padding-inline: 1rem;
  }

  .dropdown__submenu {
    position: absolute;
    left: 100%;
    top: .5rem;
  }

  /* Show dropdown menu */
  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: 5.5rem;
    pointer-events: initial;
    transition: top .3s;
  }

  /* Show dropdown submenu */
  .dropdown__subitem:hover>.dropdown__submenu {
    opacity: 1;
    top: 0;
    pointer-events: initial;
    transition: top .3s;
  }
}